* {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  font-size: 16px;
  line-height: 1.5;
}
.container {
  display: flex;;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  color: #24292e;
}
.grid ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  justify-content: center;
}
.grid ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 40px 0;
  width: 25%;
  text-align: center;
}
button {
  padding: 0 16px;
  height: 48px;
  border: 1px solid rgba(27,31,35,.2);
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  color: #fff;
  line-height: 48px;
  border-radius: 2px;
}
button:hover {
  border: 1px solid rgba(27,31,35,.35);
  background-color: #e6ebf1;
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  background-position: -.5em;
}
input[type=text] {
  padding: 0 8px;
  height: 48px;
  border: 1px solid #d1d5dA;
  background: #fff;
  border-radius: 2px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
}
input[type=text]:focus {
  border-color: #2188ff;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075), 0 0 0 0.2em rgba(3,102,214,.3);
}
